.depArr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 88vh;
}

.depArr-form {
  display: block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
