<section class="car-info">
  <form (ngSubmit)="onSubmit($event)" [formGroup]="carInfoForm" class="car-info-form">
    <div class="mat-display-1">Entrez les infos de votre véhicule</div>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Enter un model</mat-label>
        <input [formControlName]="'name'"
               [matAutocomplete]="auto"
               aria-label="Number"
               matInput
               placeholder="Pick one"
               type="text">
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="fillOnOptionSelect($event)" autoActiveFirstOption>
          <mat-option *ngFor="let vehicle of vehicles"
                      [value]="vehicle | property:'name'"
          >
            <img style="vertical-align:middle;" aria-hidden src="{{vehicle.image}}" height="25" />
            {{vehicle.name}}

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Puissance</mat-label>
        <input [formControlName]="'power'" matInput>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Autonomie</mat-label>
        <input [formControlName]="'autonomy'" matInput>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Consommation</mat-label>
        <input [formControlName]="'consumption'" matInput>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Voltage</mat-label>
        <input [formControlName]="'battery'" matInput>
      </mat-form-field>
    </p>

    <p>
      <button (click)="onSubmit($event)" [disabled]="this.carInfoForm.invalid" color="primary" mat-raised-button
              type="button">Submit
      </button>
    </p>
  </form>

</section>

